<!DOCTYPE html>{% load i18n %}{% load static %}
<html>
<head>
    <title>{%block title%}{%translate "Quality site"%}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'base.css'%}" rel="stylesheet">
</head>
<body>
    <head>
        <nav id="menu" class="navbar navbar-expand-md border qapp-bg-lighter rounded-3 mt-2 mx-2">
            <div class="container-fluid" >
                <a class="navbar-brand" href="#">
                    <img src="{% static 'SB_grey.png'%}" height="25rem" alt="SB">
                </a>
                <button class="navbar-toggler ms-auto" data-bs-toggle="collapse" data-bs-target="#navMenu"
                        aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navMenu">
                    <ul class="navbar-nav">
                        <li class="navitem dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                            role="button" aria-expanded="false">{%translate "Processes"%}</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{%url 'processes'%}"}">{%translate "Processes"%}</a></li>
                                <li><a class="dropdown-item" href="{%url 'axes'%}">{%translate "Quality axes"%}</a></li>
                                <li><a class="dropdown-item">{%translate "Contributions"%}</a></li>
                            </ul>                          
                        </li>
                    </ul>
                    {%block user%}
                    <ul class="navbar-nav ms-auto">
                        {%if user.is_staff%}
                        <li class="navitem"><a class="nav-link" href="{%url 'admin:index'%}">
                            {%translate "Admin site"%}
                        </a></li>
                        {%endif%}
                        {% if request.user.is_authenticated %}
                        <li class="navitem dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                            role="button" aria-expanded="false">
                            {%blocktranslate with name=user.username trimmed%}
                            Welcome<br>{{name}}
                            {%endblocktranslate%}</a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li class="dropdown-item"><a class="nav-link" href="{%url 'password_change'%}">
                                    {%translate "Change password"%}</a></li>
                                <li class="dropdown-item">
                                    <form method="post" action="{%url 'logout'%}">
                                        {%csrf_token%}
                                    <button type="submit" class="dropdown-item">
                                        {%translate "Disconnect"%}</button>
                                    </form>
                                </li>
                            </ul>                          
                        </li>
                        {%else%}
                        <li class="navitem"><a class="nav-link" href="{%url 'login'%}?next={{request.path|urlencode:''}}">{%translate "Connect"%}</a></li>
                        {%endif%}
                    </ul>
                    {%endblock%}
                </div>
            </div>
        </nav>
        <nav id="breadcrumb" aria-label="breadcrumb" class="ms-4 small">
            <ol class="breadcrumb mb-2">{%block breadcrumbs%}
                <li class="breadcrumb-item "><a  href="{%url 'home'%}">{%translate "Home"%}</a></li>
            {%endblock%}</ol>
        </nav>
    </head>
    <main class="rounded-3 border mx-3 p-2 qapp-bg-lighter">
        {%block content%}<h1>{%translate "Welcome to the quality site!"%}</h1>{%endblock%}</main>
    {% block footer %}
    <footer class="d-flex justify-content-center mt-2">
    <div class="border qapp-bg-lighter rounded-3 mx-2 p-2">
        <p class="text-center mb-1">{% translate "Quality Management System" %}</p>
        <p class="text-center mb-0">{% translate "Copyright &copy; SBA 2023" %}</p>
    </div>
    </footer>
    {% endblock %}
    <script src="{% static 'bootstrap.bundle.min.js'%}"></script>
</body>
</html>