@use 'bootstrap.css';

.bootstrap input[type="text"],
.bootstrap input[type="password"],
.bootstrap input[type="email"],
.bootstrap input[type="select"] {
    @extend .form-control;
}

.errornote {
    @extend .bg-warning;
    @extend .mx-2;
    @extend .p-3;
    @extend .rounded-3;
}

:root {
    --qapp-bg: 192, 224, 255
}

.qapp-bg-lighter {
    background-color: rgba(var(--qapp-bg), .15);
}

footer {
    font-size: 75%;
}