{%extends "base.html"%}{%load i18n %}
{%block title%}{{title}}{%endblock%}
{%block breadcrumbs%}{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
{%endblock%}
{%block content%}<h1>{{title}}</h1>
{%if object_list %}
<table class="table">
    <thead><tr>
        <th></th>
        {% for axis in table_headers %}
        <th scope="col">{{axis}}</th>
        {%endfor%}
    </tr></thead>
    {%for process, contribs in object_list.items%}
    <tr>
        <th scope="row">{{process}}</th>
        {%for contrib in contribs%}
        <td>{{contrib}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{%endif%}
{%endblock%}